Repository feluelle/airflow-diagrams: changes, and which pre-commit hooks are due for each by the changed paths.
All: demo, usage

demo:
  name: Recreate demo
  entry: task demo
  language: system
  pass_filenames: false

usage:
  name: Recreate usage
  entry: task usage
  language: system
  pass_filenames: false

Add missing test case for mapping file
  tests/test_cli.py
Due: none

Export matches to file (#60)
  .pre-commit-config.yaml
  Taskfile.yml
  airflow_diagrams/cli.py
  airflow_diagrams/utils.py
  assets/images/demo.svg
  assets/images/usage.png
  dev/airflow/airflow_dags_creator.py
  dev/demo/demo_editor.py
  examples/mapping.yml
  tests/test_cli.py
  tests/test_utils.py
Due: demo, usage

Upgrade diagrams to 0.21.1
  examples/mapping.yml
  poetry.lock
  pyproject.toml
Due: none

Upgrade diagrams to ~0.21.0 (#70)
  examples/mapping.yml
  poetry.lock
  pyproject.toml
Due: none

Upgrade typer to 0.60.0
  Taskfile.yml
  airflow_diagrams/cli.py
  airflow_diagrams/custom_typer.py
  assets/images/demo.svg
  assets/images/usage.png
  poetry.lock
  pyproject.toml
Due: demo, usage

Fix Taskfile
  Taskfile.yml
Due: none

Upgrade typer to 0.6.0 (#74)
  Taskfile.yml
  airflow_diagrams/cli.py
  airflow_diagrams/custom_typer.py
  assets/images/demo.svg
  assets/images/usage.png
  poetry.lock
  pyproject.toml
Due: demo, usage

Upgrade typer to 0.6.1
  poetry.lock
  pyproject.toml
Due: none

Upgrade typer to 0.6.1 (#75)
  poetry.lock
  pyproject.toml
Due: none

Bump version to 2.1.0rc1
  pyproject.toml
Due: none

Update mapping example
  examples/mapping.yml
Due: none

Update mapping example (#76)
  examples/mapping.yml
Due: none

Optimize performance for matching
  Taskfile.yml
  airflow_diagrams/class_ref.py
  airflow_diagrams/cli.py
  airflow_diagrams/diagram.jinja2
  assets/images/demo.svg
  dev/airflow/airflow_dags_creator.py
  examples/mapping.yml
  tests/test_class_ref.py
  tests/test_cli.py
Due: demo, usage

Bump version to 2.1.0
  pyproject.toml
Due: none

Optimize performance for matching (#79)
  Taskfile.yml
  airflow_diagrams/class_ref.py
  airflow_diagrams/cli.py
  airflow_diagrams/diagram.jinja2
  assets/images/demo.svg
  dev/airflow/airflow_dags_creator.py
  examples/mapping.yml
  tests/test_class_ref.py
  tests/test_cli.py
Due: demo, usage

Fix tests
  tests/test_utils.py
Due: none

Run tests for python 3.12
  .github/workflows/test.yml
Due: none

Run tests for python 3.12 (#92)
  .github/workflows/test.yml
Due: none

Update actions versions to latest
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: none

Update actions versions to latest (#94)
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: none

Use proper timeout in dev usage-generator
  dev/usage/usage_generator.py
Due: none

'Refactored by Sourcery'
  airflow_diagrams/airflow.py
  airflow_diagrams/class_ref.py
  airflow_diagrams/cli.py
  airflow_diagrams/diagrams.py
  dev/airflow/airflow_dags_creator.py
Due: demo, usage

Use ruff
  .bandit
  .pre-commit-config.yaml
  airflow_diagrams/airflow.py
  airflow_diagrams/diagrams.py
  dev/airflow/airflow_dags_creator.py
  pyproject.toml
Due: demo

Fix python 3.12 in CI tests
  .github/workflows/test.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

Fix python 3.12 in CI tests (#143)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

Path conditions:
  demo: any of: ^airflow_diagrams/|^dev/demo/ and \.py$ and not (examples/)
  usage: any of: airflow_diagrams/cli.py, but not: examples/
